<div th:fragment="header" xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light fixed-top bg-light">
        <a class="navbar-brand mb-0 h1" href="/index">
            <img th:src="@{/images/logo.svg}" width="30" height="30" alt=""/>
            Conferences
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" th:if="${user == null || user.getEmail() == null}">
                    <a class="nav-link" href="/login">Login<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" th:if="${user == null || user.getEmail() == null}">
                    <a class="nav-link" href="/register">Register<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" th:if="${user != null && user.getEmail() != null}">
                    <a class="nav-link" th:href="@{/all-conferences}">All Conferences
                        <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" th:if="${user != null && user.getEmail() != null}">
                    <a class="nav-link" th:href="@{/profile}">My Profile
                        <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" th:if="${user != null && user.getEmail() != null}">
                    <a class="nav-link" href="javascript:void(0);" id="logout-link" th:attr="nonce=${nonce}">Logout
                        <span class="sr-only">(current)</span></a>
                    <form id="logout-form" th:action="@{/logout}" method="post" style="display: none;">
                    </form>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0"
                  th:if="${user != null && user.id != null}"
                  th:action="@{/conferences/search/(userId=${user.id})}"
                  method="get" id="searchFormId">
                <input class="form-control mr-sm-2" type="search" placeholder="Search Conference" id="searchInput">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="searchButton">Search</button>
            </form>
        </div>
    </nav>
    <script th:src="'https://code.jquery.com/jquery-3.2.1.slim.min.js'"
            th:attr="nonce=${nonce}"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script th:src="'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js'"
            th:attr="nonce=${nonce}"
            integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
            crossorigin="anonymous"></script>
    <script th:src="'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js'"
            th:attr="nonce=${nonce}"
            integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
            crossorigin="anonymous"></script>
    <script th:attr="nonce=${nonce}">
        $("#searchButton").click(function () {
            $("#searchFormId").attr("action", $("#searchFormId").attr("action") + $("#searchInput").val())
        })
    </script>
    <script th:attr="nonce=${nonce}">
        document.getElementById('logout-link').addEventListener('click', function(event) {
            event.preventDefault();
            document.getElementById('logout-form').submit();
        });
    </script>
</div>