<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="APP_LOG" class="ch.qos.logback.core.FileAppender">
        <file>logs/user-consumer/application.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="CONSUMER_LOG" class="ch.qos.logback.core.FileAppender">
        <file>logs/user-consumer/Consumer.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.conferences.user_consumer" level="DEBUG" additivity="false">
        <appender-ref ref="APP_LOG"/>
    </logger>

    <logger name="com.conferences.user_consumer.service.kafka.UserKafkaListener" level="INFO" additivity="false">
        <appender-ref ref="CONSUMER_LOG"/>
    </logger>

    <logger name="com.conferences.user_consumer" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <root level="ERROR">
        <appender-ref ref="APP_LOG"/>
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>